body,
html {
  height: 100%;
  margin: 0;
}

/* Grid Container  */

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  gap: 2px;
}

/* Sidebar */

.sidebar {
  background-color: #6495ed;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  gap: 20px;
}

.branding {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.center {
  place-self: center;
}

.navigation1 {
  margin-top: 50px;
}

.icon-text {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
}

/* Header */

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.searchbar {
  grid-column: 1 / 2;
  margin-left: 20px;
}

.searchbar input {
  margin-left: 5px;
  margin-top: 20px;
  width: 40vb;
  border-radius: 7px;
  border: none;
  background-color: whitesmoke;
  padding: 5px;
}
.user-info {
  border: 2px solid black;
  grid-column: 1 / 2;
}

.header-btns {
  border: 2px solid blue;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

/* Content Area */

.content {
  background-color: gainsboro;
  grid-area: content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 2fr;
  gap: 2px;
  
}

.projects {
  border: 2px solid blue;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px;
}

.content-header {
  grid-column: 1 / 3;
  margin: 20px;
}

.content-card,
.announcements-box,
.trending-box {
  background-color: white;
  margin: 20px;
  border-radius: 8px;
}

.announcements,
.trending {
  border: 2px solid lightcoral;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr;
}

.content-card{
  padding: 20px;
  border-left: 7px solid orange;
}

.content-card p {
  margin-top: 5px;
  font-weight: 100;
}

